.alert-emailed-link {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: baseline;
  z-index: 3000;
  border-color: var(--border-alert);
  border-width: 2px;
}

.alert-emailed-link p {
  color: var(--link-sent);
  font-family: 'Inter';
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .alert-emailed-link {
    padding-right: 1.5rem;
    top: 46%;
  }

}

/* Big Screen */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  .alert-emailed-link {
    width: 20vw;
    margin: 0 auto;
    padding: 1.5rem;
    top: 23%;
    left: 40.25%;
  }

  .alert-emailed-link p {
    padding-top: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.125rem;
  }

}

