.input-group-text {
  border-radius: 0;
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .input-group-text {
    min-width: 13.49%;
  }

}

