.cycle-info {
  margin: 0.5rem 0.125rem;
  text-align: left;
}

.limit-info-title {
  margin-bottom: 0.375rem;
  color: var(--secondary) !important;
  font-size: 0.9rem;
}

.limit-info-details {
  font-size: 0.8rem !important;
  color: var(--text);
  line-height: 1.2;
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .limit-message {
    border: none;
  }

  .limit-info-title {
    margin-bottom: 0.375rem;
    font-size: 0.8rem;
  }

  .limit-info-details {
    width: 96vw;
    font-size: 0.7rem !important;
    line-height: 1.3;
  }

  .limit-reset-text {
    font-size: 0.725rem !important;
  }
}
