.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.loadingContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.loadingText {
  color: var(--text);
  font-family: 'Oswald', monospace;
  font-size: 1.5rem;
  margin: 0;
}

/*** SCREEN SIZES ***/
/* Mobile, portrait (small) */
@media only screen and (max-width: 379px) and (orientation: portrait) {
  .loadingContainer {
    padding: 1rem;
  }

  .loadingText {
    font-size: calc(4vw + 0.5rem);
  }

}

/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .loadingContainer {
    padding: 1.5rem;
  }

  .loadingText {
    font-size: calc(3vw + 0.5rem);
  }

}

/* Mobile, landscape */
@media only screen and (max-height: 450px) and (orientation: landscape) {
  .loadingContainer {
    padding: 1rem;
  }

  .loadingText {
    font-size: calc(2vh + 0.5rem);
  }

}

/* Tablet, portrait */
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .loadingContainer {
    padding: 2rem;
  }

  .loadingText {
    font-size: 1.25rem;
  }

}

/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .loadingContainer {
    padding: 2rem;
  }

  .loadingText {
    font-size: 1.25rem;
  }

}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .loadingContainer {
    padding: 2rem;
  }

  .loadingText {
    font-size: 1.5rem;
  }

}

/* Big Screen */
@media only screen and (min-width: 2000px) and (orientation: landscape) {
  .loadingContainer {
    padding: 3rem;
  }

  .loadingText {
    font-size: 2rem;
  }

}

