.explore {
  color: var(--primary);
  float: right;
}

.export-csv-btn {
  white-space: nowrap;
  color: var(--text-contrast);
  border-color: var(--text-contrast);
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .explore {
    font-size: 1.06125em;
    margin-bottom: 0.67vh !important;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .explore {
    font-size: 1.06125em;
    margin-bottom: 0.8vh !important;
  }
}
