.navbar {
  justify-content: center;
  background-color: var(--bg-fade);
  padding-bottom: 0;
  border-bottom: 2px groove var(--accent);
  font-family: 'Inconsolata';
}

.navbar .row {
  display: flex;
  align-items: center;
}

.marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .navbar {
    width: 100%;
    height: calc(13vw - 2vh);
    padding-top: 0;
    background-color: var(--mobile-bg) !important;
  }

  .navbar .row {
    width: 100%;
  }

  .nav-links .nav-link {
    font-size: 1.25rem;
    text-shadow: var(--success-theme) 0px 0px 1px;
  }
}

/* Mobile, landscape */
@media only screen and (max-height: 450px) and (orientation: landscape) {
  .navbar {
    padding-top: 1vh;
    justify-content: flex-start !important;
    background-color: var(--mobile-bg) !important;
  }

  .navbar .row {
    width: 62vw;
  }

  .nav-links .nav-link {
    font-size: 1.25rem;
    text-shadow: var(--success-theme) 0px 0px 1px;
  }
}

/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .navbar {
    width: 100%;
    height: 55px !important;
    position: fixed;
    background-color: var(--bg-fade);
    border-bottom: 2px groove var(--accent);
    font-family: 'Inconsolata';
  }

  .navbar .row {
    width: 100%;
  }

  .nav-links .nav-link {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .nav-right.row {
    width: auto;
  }
}

/* Tablet, portrait */
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .navbar .row {
    width: 100%;
  }

  .nav-links .nav-link {
    font-size: 1.5rem;
    text-shadow: var(--success-theme) 0px 0px 1px;
  }

  .nav-right.row {
    width: 150%;
  }
}

/* Big Screen */
@media only screen and (min-width: 2000px) and (orientation: landscape) {
  .navbar {
    height: 85px;
    padding-bottom: 0;
    border-width: 2px;
  }

  .nav-links .nav-link {
    padding: 1em !important;
    font-size: 2em;
  }

  .nav-right.row {
    width: 117%;
  }
}
