#credentials-modal .papers-please {
  color: var(--secondary);
  font-style: italic;
}

#credentials-modal .modal-body {
  background-color: var(--modal-blend);
}

#credentials-modal .input--translucent .form-control {
  color: var(--input) !important;
  border-radius: 0 !important;
}

#credentials-modal .input--translucent .form-control:focus {
  box-shadow: inset 0 0 0.25rem -1px var(--contrast);
}

/* form field icons */
#credentials-modal .input--translucent .input-icon.l.input-group-text,
#credentials-modal .input--translucent .input-icon.r.input-group-text {
  background-color: #383d50;
  border: 2px solid var(--btn-border);
}

#credentials-modal .natural-link {
  color: var(--text-switch-off) !important;
  text-decoration: underline;
}

/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  #credentials-modal .modal-title {
    height: clamp(3.75rem, 60px, 9vh);
    font-size: max(1.25rem, 6vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #credentials-modal .modal-body {
    min-height: 20.5em;
    max-height: 21.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #credentials-modal .modal-body form#logio-form {
    margin-top: min(3px, 0.5vh);
  }

  #credentials-modal .modal-body form#logio-form .toc {
    height: max(3vh, 1rem);
    margin-top: max(0.25rem, 1vw);
  }

  #credentials-modal .modal-body form#logio-form .cta-form-btn {
    margin-top: 0.5rem;
  }

  #credentials-modal .modal-body form#logio-form .cta-form-btn .natural-link {
    margin-top: 1rem;
  }
}
/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  #credentials-modal .modal-title {
    font-size: 2.5em;
  }
  #credentials-modal .modal-body {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22em;
  }

  #credentials-modal .modal-body .credentials-fields .row {
    justify-content: center;
  }

  #credentials-modal .modal-body form#logio-form {
    width: 32vw !important;
  }

  #credentials-modal .modal-body form#logio-form .input--translucent {
    width: 32vw !important;
    padding-bottom: 1rem;
  }

  #credentials-modal .modal-body form#logio-form .toc {
    height: max(2.5vh, 1rem);
    margin-top: 1rem;
  }

  #credentials-modal .modal-body form#logio-form .cta-form-btn {
    margin-top: 1rem;
  }

  #credentials-modal .modal-body form#logio-form .cta-form-btn .natural-link {
    margin-top: 1.25rem;
  }
}
